.inputControl {
  display: flex;
  flex-flow: column;
  gap: var(--spacing-xs);
}

.label {
  font-size: 0.9rem;
  font-weight: 500;
}

.input {
  display: inline-flex;
  height: 40px;
  appearance: none;
  background: var(--c-bg);
  color: var(--c-text);
  padding: var(--spacing-sm);
  border: 1px solid var(--c-border);
  border-radius: var(--radius-md);
  box-shadow: none;
  width: 100%;
}
