APP_HOSTNAME=localhost # 0.0.0.0 or localhost
APP_PUBLIC_URL=http://localhost:3000 # Public url used for eg. docs
APP_PORT=3000 # Between 3000 and 9999
NODE_ENV=development # production or development
