.text {
  margin: 0;
  font-weight: 400;

  &.isBolder {
    font-weight: 500;
  }
}

.heading-1 {
  font-size: 1.5rem;
  font-weight: 500;

  &.isBolder {
    font-weight: 600;
  }
}

.heading-2 {
  font-size: 1.4rem;
  font-weight: 500;

  &.isBolder {
    font-weight: 600;
  }
}

.heading-3 {
  font-size: 1.3rem;
  font-weight: 500;

  &.isBolder {
    font-weight: 600;
  }
}

.heading-4 {
  font-size: 1.2rem;
  font-weight: 500;

  &.isBolder {
    font-weight: 600;
  }
}

.heading-5 {
  font-size: 1.1rem;
  font-weight: 500;

  &.isBolder {
    font-weight: 600;
  }
}

.heading-6 {
  font-size: 1rem;
  font-weight: 500;

  &.isBolder {
    font-weight: 600;
  }
}

.error {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--c-text-danger);

  &.isBolder {
    font-weight: 500;
  }
}

.paragraph {
  font-size: 1rem;
  font-weight: 400;

  &.isBolder {
    font-weight: 500;
  }
}

.caption {
  font-size: 0.8rem;
  font-weight: 400;

  &.isBolder {
    font-weight: 500;
  }
}
