.viewport {
  position: fixed;
  z-index: var(--zi-1);
  width: 98dvw;
  max-width: 300px;
  margin: 0 auto;
  bottom: var(--spacing-md);
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: 768px) {
    left: auto;
    right: var(--spacing-md);
  }
}

.toast {
  --gap: 0.75rem;
  --peek: 0.75rem;
  --scale: calc(max(0, 1 - (var(--toast-index) * 0.1)));
  --shrink: calc(1 - var(--scale));
  --height: var(--toast-frontmost-height, var(--toast-height));
  --offset-y: calc(
    var(--toast-offset-y) * -1 + (var(--toast-index) * var(--gap) * -1) +
      var(--toast-swipe-movement-y)
  );

  position: absolute;
  right: 0;
  margin: 0 auto;
  width: 100%;
  border-radius: var(--radius-md);
  background-color: var(--c-bg);
  color: var(--c-text);
  box-shadow: 0 0 5px 1px var(--c-shadow);
  transform-origin: bottom center;
  bottom: 0;
  left: auto;
  margin-right: 0;
  transition:
    transform 0.5s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.5s,
    height 0.15s;
  z-index: calc(1000 - var(--toast-index));
  height: var(--height);
  transform: translateX(var(--toast-swipe-movement-x))
    translateY(
      calc(
        var(--toast-swipe-movement-y) - (var(--toast-index) * var(--peek)) -
          (var(--shrink) * var(--height))
      )
    )
    scale(var(--scale));

  &[data-expanded] {
    transform: translateX(var(--toast-swipe-movement-x)) translateY(var(--offset-y));
    height: var(--toast-height);
  }

  &[data-starting-style],
  &[data-ending-style] {
    transform: translateY(150%);
  }

  &[data-limited] {
    opacity: 0;
  }

  &[data-ending-style] {
    opacity: 0;

    &[data-swipe-direction='up'] {
      transform: translateY(calc(var(--toast-swipe-movement-y) - 150%));
    }

    &[data-swipe-direction='left'] {
      transform: translateX(calc(var(--toast-swipe-movement-x) - 150%)) translateY(var(--offset-y));
    }

    &[data-swipe-direction='right'] {
      transform: translateX(calc(var(--toast-swipe-movement-x) + 150%)) translateY(var(--offset-y));
    }

    &[data-swipe-direction='down'] {
      transform: translateY(calc(var(--toast-swipe-movement-y) + 150%));
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: calc(var(--gap) + 1px);
  }

  &:focus-visible {
    outline: auto;
  }

  &.info {
    background-color: var(--c-bg);
  }

  &.success {
    background-color: var(--c-green);
    color: var(--c-white);
  }

  &.error {
    background-color: var(--c-red);
    color: var(--c-white);
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-md);
  height: 100%;
  padding: var(--spacing-sm);
  overflow: hidden;
  transition: opacity var(--transition-duration) cubic-bezier(0.22, 1, 0.36, 1);

  &[data-behind] {
    opacity: 0;
  }

  &[data-expanded] {
    opacity: 1;
  }
}
