.headerLink {
  display: flex;
}

.podcasts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-md);
  padding: 0;
  margin: 0;

  @media (min-width: 600px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.addPodcastDialogTrigger {
  appearance: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  padding: var(--spacing-md);
  background: linear-gradient(45deg, var(--c-accent-secondary-bg), var(--c-accent-primary-bg));
  color: var(--c-accent-secondary-text);
  box-shadow: 0 0 5px 0px var(--c-shadow);
  border-radius: var(--radius-lg);
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
}
